@model projektWypozyczalnia_Gola.Models.wypozyczenie

@{
    ViewBag.Title = "DetailsSzczegoly";
}

<div>
    <hr />
    <h4>Szczegóły</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data_wypozyczenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_wypozyczenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_konca_wypoz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_konca_wypoz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_oddania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_oddania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.klient.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klient.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.samochod.marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.samochod.marka)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "EditSzczegoly", new { id = Model.id }) |
    @Html.ActionLink("Wróć do widoku szczegółów", "Szczegoly")
</p>