@model IEnumerable<projektWypozyczalnia_Gola.Models.pracownik>

@{
    ViewBag.Title = "Pracownik";
}

<hr />
<h4>Pracownicy</h4>
<hr />

@using (Html.BeginForm("Pracownik", "Home", FormMethod.Get))
{
    @Html.TextBox("searching")<input type="submit" value="Wyszukaj">
}
<hr />
<p>
    @Html.ActionLink("Dodaj nowego pracownika", "CreatePracownik")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.wypozyczalnia_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imie)
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.nazwisko).ToHtmlString(), "Pracownik", new { sorting = ViewBag.nazwisko })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.data_zatr).ToHtmlString(), "Pracownik", new { sorting = ViewBag.data_zatr })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nr_telefonu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ulica)
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.miasto).ToHtmlString(), "Pracownik", new { sorting = ViewBag.miasto })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wypozyczalnia.nazwa)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3" style="color: red">
                Nie znaleziono żadnego wyniku
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.wypozyczalnia_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data_zatr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nr_telefonu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ulica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.miasto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.wypozyczalnia.nazwa)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EditPracownik", new { id = item.id }) |
                    @Html.ActionLink("Szczegóły", "DetailsPracownik", new { id = item.id }) |
                    @Html.ActionLink("Usuń", "DeletePracownik", new { id = item.id })
                </td>
            </tr>
        }
    }

</table>

<div>
    @Html.ActionLink("Wróć do widoku głównego", "Index")
</div>
